<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- MODULE 12: ASP.NET MVC Entity Framework Assignment -->
<!-- AUTHOR: Steven Partlow -->

<!-- DATE: 11/03/2023 -->

<!-- CREATE VIEW -->

@model CarInsurance.Models.Insuree

@{
    ViewBag.Title = "Create";
}
<body class="adminview"> <!-- Add the admin view class so we can add our own CSS styling to the form -->
    <h2>Generate your quote!</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Please enter your information to get your quote</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">First Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email Address</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Date of Birth</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Car Year</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Car Make</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CarMake, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Car Model</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">DUI</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.DUI)
                        @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Speeding Tickets</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpeedingTickets, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Coverage Type</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CoverageType)
                        @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="GET YOUR QUOTE" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Return to Title Page", "Index", "Home")
    </div>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
